.App {
  text-align: center;
  height: 100%;
}

.App {
  color: white;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
/*
.Player1 img {
  width: 150px;
  margin: 5px;
}*/

img {
  width: 150px;
  margin: 5px;
}


.Board {
  background-image: url('../public/images/felt.jpg');
  height: 100vh;
}

.Status {
  color: white;
}

button {
  margin: 20px;
}

h1 {
  font-size: 100px;
}
